.main {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./../../assets/IPAWZ.jpg');
  background-position: center;
  background-color: #1d1b1a;}
