.header-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 102px;

}

.header {
  border: 3px;
  border-style: solid;
  color: #dc3a3a;
  padding: 14px 28px;
  margin-bottom: 100px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
