<header>
  <ul>
    <li class="iz-logo" [routerLink]="['/']"><img src="../assets/iz.svg"/></li>
    <li><button mat-button [routerLink]="['/todays-puppers']">View Calendar</button></li>
    <li><button mat-button [routerLink]="['/our-dogs']">Our Dogs</button></li>
  </ul>
</header>
<router-outlet></router-outlet>
<div class="footer">
  <p>iSeatz</p>
</div>
