header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1d1b1a;
}

li {
  float: right;
}

li button {
  display: block;
  color: #FFF;
  text-align: center;
  padding: 33px 15px;
  text-decoration: none;
}

li button:hover {
  background-color: #d6ad6b;
}

.iz-logo {
  float: left;
  padding-left: 50px;
  padding-top: 9px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1d1b1a;
  color: #FFF;
  text-align: center;
}
