<mat-card class="card">
  <img mat-card-image src="{{dog.imgUrl}}">
  <mat-card-header>
    <mat-card-title>{{dog.name}}</mat-card-title>
    <mat-card-subtitle>{{dog.breed}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
